root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{c, cpp}]
charset = latin1

[*.{rs, js, java, py}]
charset = utf-8

[*.tex]
indent_style = space
indent_size = 2
